1.customer_transaction
2.product_master
3.Discounts
4.Campaigns
5.Recharge_data
~$LushProtein_Data_Glossary_20260505.xlsx
ISSS60320Science20Customer20.pdf
LushProtein_Data_Glossary_20260505.xlsx
LushProtein_Source_to_Target_Mapping_Exercise.xlsx
Combined_Slides.pdf
LushProtein_Midterm presentation.pdf
# Python bytecode
__pycache__/
*.pyc
*.pyo

*DS_Store
*.ipynb_checkpoints
*.parquet
*.csv